.header{
    width: 100%;
    height: 20vh;
    position: sticky;
    z-index: 1001;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: 0 1px 2px rgb(0 0 0 / 6%);
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    /* border: 2px solid red; */

    
}
.contact{
    width: 100%;
    height: 23%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.contact a{
    margin: 0rem  2rem;
    color: #596aff;
    font-size: 18px;
    text-align: center;
    display: flex;

    /* border: 2px solid red; */

}
.contact a p{
    font-size: 25px;
    padding-right: .6rem;
}
.navbar{
    width: 90%;
    height: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
    
}
.logo{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 125px;
    height: 70px;
}

.navcontent{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.navcontent p{
    outline: none;
    text-decoration: none;
    font-size: 18px;
}
a:link{
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

.enquire{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.enquire button{
    width: 50%;
    height: 50%;
    border-radius: 20px;
    outline: none;
    border: none;
    color: white;
    background-color: #596aff;
}
.enquire button:hover{
    color:blue;
    background-color: white;
    box-shadow:  4px 10px 5px  gray;
}